{:source-paths
 ["src"]

 :builds
 {:zhihu-downloader
  {:target     :esm
   :output-dir "build/cljs/core"
   :modules {:utils {:entries [core.utils]
                     :exports {zhihuLinkToNormalLink core.utils/zhihuLinkToNormalLink
                               getParent core.utils/getParent
                               makeButton core.utils/makeButton
                               getQuestionTitle core.utils/getQuestionTitle}}}
   :js-options {:resolve {"@ts" ["./build/ts"]}}}}}
